In [119]:
import pandas as pd

In [121]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [122]:
#Amount of people with each race
count_race = df.race.value_counts()
count_race

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [151]:
df.workclass.value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [153]:
sex_total_value = df.sex.value_counts()
sex_total_value

Male      21790
Female    10771
Name: sex, dtype: int64

In [158]:
#percentage of the sex
male_percentage = round(100*df[df.sex == 'Male'].size/df.size, 3)
female_percentage = round(100*df[df.sex == 'Female'].size/df.size, 3)

In [159]:
male_percentage

66.921

In [160]:
female_percentage

33.079

In [161]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
# hist(bins=12, alpha=0.5)

In [ ]:
df.isna()

In [ ]:
dfh = df.head()
dfh.isna()

In [89]:
# Average age of men
average_age_of_men = round(df[df.sex == 'Male'].age.mean(),1)
average_age_of_men

39.4

In [90]:
df.size

488415

In [125]:
#percentage of people who have a Bachelor's degree
percentage_of_bachelor_degree_holder = round(100*df[df.education == 'Bachelors'].size/df.size, 1)
print(percentage_of_bachelor_degree_holder, "%")

16.4 %

In [92]:
percentage_of_advance_education = df[df.education.isin(["Bachelors", "Masters", "Doctorate"])]
more_than_fifty = percentage_of_advance_education[percentage_of_advance_education.salary == ">50K"]

In [93]:
round(100*percentage_of_advance_education.size/df.size, 5)

23.00605

In [94]:
len(more_than_fifty)

3486

In [95]:
round(100*more_than_fifty.size/df.size, 5)

10.70606

In [96]:
percentage_of_lower_education = df[~df.education.isin(["Bachelors", "Masters", "Doctorate"])]
l_more_than_fifty = percentage_of_lower_education[percentage_of_lower_education.salary == ">50K"]

In [97]:
round(100*percentage_of_lower_education.size/df.size, 5)

76.99395

In [98]:
round(100*l_more_than_fifty.size/df.size, 5)

13.3749

In [129]:
# Percentage with higher education that earn >50K
advance_education = round(((more_than_fifty.size/percentage_of_advance_education.size)*100),1)
print(advance_education,'%')

46.5 %

In [128]:
# Percentage without higher education that earn >50K
lower_education = round(((l_more_than_fifty.size/percentage_of_lower_education.size)*100),1)
print(lower_education, '%')

17.4 %

In [140]:
# Min work time
min_hour_per_week = df["hours-per-week"].min()
print(min_hour_per_week,"hours/week")

1 hours/week

In [144]:
# Percentage of rich among those who work fewest hours
min_workers = df[df['hours-per-week'] == min_hour_per_week]
min_workers_percentage = round(100*min_workers[min_workers.salary == ">50k"].size/min_workers.size,1)
print(min_workers_percentage,"%")

0.0 %

In [145]:
per_country_with_higher = 100*df[df.salary == ">50k"]['native-country'].value_counts()/df['native-country'].value_counts()
per_country_with_higher.head()

United-States   NaN
Mexico          NaN
?               NaN
Philippines     NaN
Germany         NaN
Name: native-country, dtype: float64

In [136]:
# Country with highest percentage of rich
high_earning_country = per_country_with_higher.idxmax()
print('Country: ',high_earning_country)

Country:  nan

In [150]:
# Highest percentage of rich people in country
per_high_earning_country = (round(per_country_with_higher[high_earning_country], 1))
print(per_high_earning_country,'%')

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [nan] of <class 'float'>

In [138]:
occupation_in_India = df[df['native-country'] == 'India']
occupation_in_India.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
892,28,Private,164170,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,India,<=50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1029,48,Self-emp-inc,138370,Masters,14,Married-spouse-absent,Sales,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,<=50K
1095,22,Self-emp-not-inc,361280,Bachelors,13,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Male,0,0,20,India,<=50K

In [139]:
# Top occupations in India
popular_occupation_in_India = occupation_in_India[occupation_in_India.salary == '>50k'].occupation.value_counts().idxmax()
print('Popular Occupation: ',popular_occupation_in_India)

ValueError: attempt to get argmax of an empty sequence